<app-banner [bannerName]="'SSBU Amiibo'"></app-banner>

<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="grid grid-cols-5">
        <div style="margin: 10px; padding: 4px" class="text-center bg-white rounded">
            <a [routerLink]="''">1 v 1 Match-up!</a>
        </div>  
        <div style="margin: 10px; padding: 4px" class="text-center bg-white rounded">
            <a [routerLink]="''">Tourney Bracket!</a>
        </div>  
        <div style="margin: 10px; padding: 4px" class="text-center bg-white rounded">
            <a [routerLink]="''">Amiibo Stats!</a>
        </div>  
        <div style="margin: 10px; padding: 4px" class="text-center bg-white rounded">
            <a [routerLink]="'register'">Register New Amiibo</a>
        </div>  
        <div style="margin: 10px; padding: 4px" class="text-center bg-white rounded">
            <a [routerLink]="''">Edit Amiibo Data</a>
        </div>  
    </div>
</div>
