<div class="bg-white m-10 p-10 rounded-lg drop-shadow-xl">
    <h1 class="border-b-2 mt-6 mb-6 text-4xl">{{recipeItem?.name}}</h1>
    <p *ngIf="recipeItem?.summary" class="mb-6 pb-4 border-b-2 indent-4">{{recipeItem?.summary}}</p>
    <div class="grid grid-cols-3 border-b-2 mb-6 pb-4">
        <img class="mt-5 mb-5 rounded-lg drop-shadow-xl" width="80%" src="{{recipeItem?.image}}">
        <div class="col-span-2">
            <p  *ngIf="recipeItem?.cookTime" class="mb-2">Cook Time: {{recipeItem?.cookTime}}</p>
            <h1 class="text-2xl border-b-2 mb-2">Ingredients</h1>
            <li *ngFor="let ingredient of recipeItem?.ingredients" class="p-1">{{ingredient}}</li>
        </div>
    </div>
    <h1 class="text-2xl border-b-2 mb-2">Instructions</h1>
    <li *ngFor="let instruction of recipeItem?.instructions" class="p-1">{{instruction}}</li>
</div>

