<app-banner [bannerName]="'Menu - ' + recipeItem?.name"></app-banner>

<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="grid grid-cols-5">
        <div style="margin: 16px" class="col-span-4 bg-white p-10 rounded-lg drop-shadow-xl">
            <h1 class="border-b-2 border-gray-400 mt-6 mb-6 text-4xl">{{recipeItem?.name}}</h1>
            <p *ngIf="recipeItem?.summary" class="mb-6 pb-4 border-b-2 border-gray-400 indent-4">{{recipeItem?.summary}}</p>
            <div class="grid grid-cols-3 mb-6 pb-4">
                <img class="mt-5 mb-5 rounded-lg drop-shadow-xl" width="80%" src="{{recipeItem?.image}}">
                <div class="col-span-2">
                    <p  *ngIf="recipeItem?.cookTime" class="mb-2">Cook Time: {{recipeItem?.cookTime}}</p>
                    <h1 class="text-2xl border-b-2 border-gray-400 mb-2">Ingredients</h1>
                    <li *ngFor="let ingredient of recipeItem?.ingredients" class="p-1">{{ingredient}}</li>
                </div>
            </div>
            <h1 class="text-2xl border-b-2 border-gray-400 mb-2">Instructions</h1>
            <li *ngFor="let instruction of recipeItem?.instructions" class="p-1">{{instruction}}</li>
            <div class="flex justify-center mt-10">
                <button (click)="addToCart()" class="bg-red-300 px-6 py-2 shadow-lg rounded">
                    <mat-icon class="inline-block align-middle" fontIcon="add_shopping_cart"></mat-icon>
                    Add to Shopping List
                </button>
            </div>
        </div>

        <app-menu-shopping></app-menu-shopping>
    </div> 
</div>
