<div class="flex justify-center">
    <img width="20%" class="mt-10" src="assets/images/pirateLogo.jpg">
</div>

<div class="">
    <p class="mt-4 text-center">Ahoy, Mateys!</p>

    <p class="mt-4 text-center">Welcome to Pirate Cove, where culinary adventures and daring quests await! 🏴‍☠️⚔️</p>

    <p class="mt-4 px-40 text-center">Embark on a journey through our treasure trove of food-related wonders, where recipes are the hidden gems waiting to be uncovered. Feast like a pirate and discover the secrets of mouthwatering delights that will make your taste buds dance the hornpipe!</p>

    <p class="mt-4 px-40 text-center">But that's not all! Beyond the galley, delve into the realms of Dungeons & Dragons, where epic tales and legendary encounters beckon. Unleash your creativity and share your nautical D&D adventures with your crew.</p>

    <p class="mt-4 px-40 text-center">Whether you're a seasoned sailor or a landlubber looking to set sail on a gastronomic or gaming escapade, Pirate Cove is your compass to all things swashbuckling and savory.</p>

    <p class="mt-4 px-40 text-center">So, weigh anchor, hoist the Jolly Roger, and prepare to chart a course into the culinary and gaming unknown. Set forth, me hearties, and let the adventures begin!</p>

    <p class="mt-4 mb-20 px-40 text-center">Yo-ho-ho and a bottle of rum...or perhaps a good ale! 🍻🏴‍☠️</p>
</div>
