.empty {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: solid 1px gray;
}

.room {
    border: dashed 1px gray;
    width: 30px;
    height: 30px;
    background-color: white;
}

.room:hover {
    background-color: #f2f2f2;
}

.closed-room {
    border: solid 3px black;
}

.corner-tl {
    border-top: solid 3px black;
    border-left: solid 3px black;
}

.corner-tr {
    border-top: solid 3px black;
    border-right: solid 3px black;
}

.corner-bl {
    border-bottom: solid 3px black;
    border-left: solid 3px black;
}

.corner-br {
    border-bottom: solid 3px black;
    border-right: solid 3px black;
}

.deadend-l {
    border: solid 3px black;
    border-right: none;
}

.deadend-r {
    border: solid 3px black;
    border-left: none;
}

.deadend-t {
    border: solid 3px black;
    border-bottom: none;
}

.deadend-b {
    border: solid 3px black;
    border-top: none;
}

.hall-h {
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}
.hall-v {
    border-left: solid 3px black;
    border-right: solid 3px black;
}

.wall-t {
    border-top: solid 3px black;
}

.wall-r {
    border-right: solid 3px black;
}

.wall-b {
    border-bottom: solid 3px black;
}

.wall-l {
    border-left: solid 3px black;
}